*{
    margin:0px;
    padding: 0px;
}
header{
    background-color: #131212;
}
.bg{
    background-color: #131212
}
.nav-item:hover{
    background-color: rgb(184, 127, 127);
}

.carousel{
    height:450px; 
}
.carousel-item{
    height: 450px;
}
.red{
    background-color: rgb(212, 200, 200);
}
.bg-gray{
    background-color: rgb(243, 236, 236);
    border-right: 4px solid white;
}

footer{
    text-align: center;
    padding: 30px;
    background-color: #131212;
    color: white;
}
